html, body {
    margin: 0;
    padding: 10px;
    background: var(--light);
    color: var(--dark);
    font-family: Tahoma, Verdana, sans-serif;
    font-size: 10pt;
}

div#main {
    margin: 0;
    padding: 0 20px 20px;
}

a {
    background: transparent;
    color: var(--c4); /* slate green */
    text-decoration: underline;
    font-weight: bold;
}

h1 {
    color: var(--c4);
    font-size: 150%;
    font-style: italic;
    display: block;
    width: 100%;
    border-bottom: 1px solid var(--dark);
}

h1.title {
    margin: 0 0 1em;
    padding: 10px;
    background-color: var(--c1);
    color: white;
    border-bottom: 4px solid var(--c2);
    font-size: 2em;
    font-style: normal;
}

table {
    margin: 10px;
    border-collapse: collapse;
    width: 100%;
    border-bottom: 2px solid var(--dark);
}

table th {
    border: 2px solid white;
    background-color: var(--c3);
    color: var(--dark);
}

table th, table td {
    padding: 4px;
    text-align: left;
}

#notice #warning {
    background: var(--c5);
    margin: 1em 0;
    padding: 4px;
}

form label {
    display: block;
    line-height: 25px;
    font-weight: bold;
    color: var(--c4);
}

form textarea {
    width: 80%;
}

li {
    display: flex;
}
